.btc {
	font-family: var(--font-base);
	font-size: 14px;
	font-weight: 500;
	color: var(--font-color);
	background-color: var(--color-bg);
	outline: none;
	border: none;
	box-shadow: var(--innerbox-shadow);
	border-radius: 10px;
	width: 80%;
	height: 3.5rem;
	align-self: end;
}

a {
	width: 100%;
}

.about {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.app__about {
	width: 100vw;
	box-sizing: content-box;
	height: 100%;
	display: flex;
	padding: 1.5px 0;

	.about__board {
		// width: 75%;
		// height: 55vh;
		background-color: var(--color-bg);
		box-shadow: var(--outer-shadow2);
		display: flex;
		padding: 15px 15px;
		align-items: center;
		position: relative;
		border-radius: 10px;
		justify-content: space-between;
		margin: 0 3em;
		box-sizing: content-box;

		.about__innerboard-left {
			background-color: var(--color-bg);
			justify-self: left;
			// width: 25%;
			// height: 95%;
			box-shadow: var(--inner-shadow3);
			border-radius: 10px;
			list-style: none;
			color: var(--font-color);
			font-family: var(--font-base);
			display: flex;
			align-items: center;
			justify-content: space-around;
			text-align: center;
			padding: 1em;
			margin: 1rem;
			font-weight: 700;

			.about__list {
				// width: 6em ;
				height: 3.5rem;
				background-color: var(--color-bg);
				// font-size: 16px;
				border-radius: 10px;
				padding: 0 8px;
				cursor: pointer;
			}
			
		}

		.link {
			box-shadow: var(--innerbox-shadow);
		}

		.active_link {
			box-shadow: var(--inner-shadow3);
		}

		.about__list:hover {
			box-shadow: var(--inner-shadow3);
		}



		.about__innerboard-right.about-me {
			background-color: none;
			// width: 70%;
			height: 105%;
			padding: 0;
			// display: none;

			.about__pic-board {
				padding: 25px 0;
				.about__pic {
					width: 90%;
					height: 100%;
				}
			}

			.about__action-btn {
				grid-column: 1/ -1;
				display: flex;
				gap: 30px;
			}

			.about-me__content {
				color: var(--font-color);
				width: 100%;
				grid-column: 2/-1;
				padding: 16px;
				box-shadow: var(--innerbox-shadow);
				align-self: stretch;
				justify-self: center;
				border-radius: 10px;
				// margin: 25px;
				// height: 100%;

				p {
					font-family: var(--font-content);
					font-style: normal;
					font-weight: 400;
					// font-size: var(	--font-size-base);
					font-size: 1.4rem;
					line-height: 20px;
					/* or 150% */
					text-align: justify;
					text-indent: 20px;
				}
			}

			.download {
				grid-column: 1;
			}

			.contact {
				grid-column: 3;
				justify-self: end;
			}
		}

		.about__innerboard-right.education {
			// width: 75%;
			height: 100%;
			// display: none;

			table {
				font-family: var(--font-base);
				font-size: 13px;
				color: var(--font-color);
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 10px;

				.heading__row {
					word-break: break-all;
					height: 65px;
					display: grid;
					grid-template-columns: 15% 20% 50% 15%;
					align-items: center;
					justify-content: space-between;
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					border-radius: 10px;
					padding: 0 20px;
					text-align: center;
				}

				.table__body {
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					margin: 36px 0;
					height: 240px;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					padding: 15px 0;

					tr {
						width: 95%;
						height: 3em;
						display: grid;
						grid-template-columns: 15% 20% 50% 15%;
						align-items: center;
						justify-content: center;
						text-align: center;
						box-shadow: var(--inner-shadow3);
						border-radius: 10px;
						overflow-wrap: break-word;
						// word-break: break-all;
						padding: 0.4em;
					}
				}
			}
		}

		.about__innerboard-right.certificate {
			// width: 75%;
			height: 100%;
			// display: none;
			table {
				font-family: var(--font-base);
				font-size: 13px;
				color: var(--font-color);
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 10px;
				height: 100%;

				.heading__row {
					word-break: break-all;
					height: 65px;
					display: grid;
					grid-template-columns: 35% 50% 15%;
					align-items: center;
					justify-content: space-between;
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					border-radius: 10px;
					padding: 0 20px;
					text-align: center;
				}

				.table__body {
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					margin: 36px 0;
					// height: 240px;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					box-sizing: content-box;
					padding: 15px 0;
					height: 100%;

					tr {
						box-sizing: content-box;
						width: 95%;
						// height: 3em;
						display: grid;
						grid-template-columns: 35% 50% 15%;
						align-items: center;
						justify-content: center;
						text-align: center;
						box-shadow: var(--inner-shadow3);
						border-radius: 10px;
						overflow-wrap: break-word;
						// word-break: break-all;
						margin: 2%;
					}
				}
			}
		}

		.about__innerboard-right.skills {
			// width: 75%;
			height: 100%;
			// display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			// display: flex;
			// flex-direction: column;
			// flex-wrap: wrap;
			padding: 20px;
			font-size: 12px;
			gap: 20px;
		}
	}
}

@media screen and (min-width: 1201px) and (max-width: 3000px) {
	.about__board {
		width: 75%;
	}
	.about__innerboard-left {
		width: 25%;
		height: 95%;
		flex-direction: column;
	}

	.about__list {
		width: 90%;
		font-size: 1.5em
	}


	.about__innerboard-right {
		width: 70%;
	}

	.about__innerboard-right.skills {
		display: grid;
	}

	.about-me__content {
		width: 100%;
		margin: 25px;
		height: 90%;
	}

	.about__innerboard-right.about-me {
		display: grid;
		grid-template-columns: 40% 1fr 40%;
		grid-template-rows: 75% 20%;
	}
	.table__body {
		tr {
			height: 40px;
		}
	}
}

@media screen and (max-width: 1200px) and (min-width: 851px) {
	.about__board {
		width: 75%;
	}
	.about__innerboard-left {
		width: 25%;
		height: 95%;
		flex-direction: column;
	}

	.about__list {
		width: 90%;
		font-size: 1.5em;
	}


	.about__innerboard-right {
		width: 70%;
	}

	.about__innerboard-right.skills {
		display: grid;
	}

	.about-me__content {
		width: 100%;
		margin: 25px;
		height: 100%;
	}

	.about__innerboard-right.about-me {
		display: grid;
		grid-template-columns: 40% 1fr 40%;
		grid-template-rows: 75% 20%;
	}
}

@media screen and (max-width: 850px) and (min-width: 651px) {
	.about__board {
		flex-direction: column;
		width: 75%;
	}

	.about__innerboard-left {
		width: 100%;
		flex-direction: row;
	}

	.about__list {
		width: 8em;
		font-size: 1.4em;
	}

	.about__innerboard-right {
		width: 100%;
	}

	.about__innerboard-right.skills {
		display: grid;
	}

	.about-me__content {
		width: 100%;
		margin: 25px;
		height: 100%;
	}

	.about__innerboard-right.about-me {
		display: grid;
		grid-template-columns: 40% 1fr 40%;
		grid-template-rows: 75% 20%;
	}

	.table__body {
		tr {
			height: 3em;
		}
	}
}

@media screen and (max-width: 650px) {
	.app__about {
		height: 100%;
		padding-bottom: 20px;
	}

	.about {
		height: 100%;
	}

	.about__board {
		flex-direction: column;
		// height: 1;
		width: 85%;
	}

	.about__innerboard-left {
		width: 104%;
		align-items: center;
		justify-content: center;
	}

	.about__list {
		font-size: 12px;
	}

	.about__innerboard-right {
		width: 107%;
		box-sizing: content-box;
	}

	.about__innerboard-right.about-me {
		display: flex;
		flex-direction: column;
		width: 100%;

		.about__pic-board {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.about-me__content {
			width: 100%;
			margin: 0px;
			margin-bottom: 10px;
			// font-size: 20rem;

			// p {
			// 	font-size: 20rem;
			// }
		}

		.btc {
			width: 100%;
			margin: 5px 0;
		}
	}

	.about__action-btn {
			display: flex;
			gap: 30px;
	}

	.about__innerboard-right.skills {
		display: flex;
		flex-direction: column;
		width: 95%;
	}

	.table__body {
		tr {
			height: 5em;
		}
	}
}
