.port__container {
	width: 22em;
    height: 24em;
	padding: 10px;
	background-color: var(--color-bg);
	border-radius: 10px;
	box-shadow: var(--innerbox-shadow);

	.port__innerwrapper {
		height: 100%;
		display: grid;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
		overflow: hidden;
	}
}


.img-box {
	width: 100%;
	place-self: center;

	.port__img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: solid 1px var(--font-color);
	}
}

.port__name {
	width: 90%;
	align-self: start;
	justify-self: center;
	font-family: var(--font-base);
	color: var(--font-color);
	font-weight: 700;
	font-size: 14px;

	span {
		display: block;
		font-size: 10px;
		color: var(--font-color2);
	}
}

.port__btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.btn {
	font-family: var(--font-base);
	font-size: 14px;
	font-weight: 500;
	color: var(--font-color);
	background-color: var(--color-bg);
	outline: none;
	border: none;
	box-shadow: var(--innerbox-shadow);
	border-radius: 5px;
	width: 7em;
	height: 3rem;
	align-self: end;
	// margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	box-shadow: var(--inner-shadow3);
}

.live-demo {
	background-color: var(--font-color);
	color: var(--color-bg);
}

.live-demo:hover {
	background-color: var(--color-bg);
	color: var(--font-color);
}


@media screen and (max-width: 1200px) and (min-width: 851px) {
	port__container {
		width: 22em;
		height: 35em;
	}
	
	.port__innerwrapper {
		grid-template-rows: 135px 1fr 35px;
		
	}
}

// @media screen and (min-width: 1100px) {

// 	.port__innerwrapper {
// 		grid-template-rows: 135px 1fr 35px;
// 	}
// }

@media screen and (max-width: 500px) {
	.port__container {
		width: 90%;
		height: 33em;
	}

	.port__innerwrapper {
		grid-template-rows: 195px 1fr 46px;
	}

	.port__img {
		width: 100%;
	}
}