.port__container {
	display: grid;
	// grid-template-rows: 75% 10% 15%;
	align-items: center;
	justify-content: center;
	width: 25em;
	height: 25em;
	background-color: var(--color-bg);
	box-shadow: var(--innerbox-shadow);
	border-radius: 10px;
	margin: 10px 0;
}

.img-box {
	width: 95%;
	// margin-top: 1rem;
	justify-self: center;
	align-self: flex-start;
	margin: 10px;

	.port__img {
		width: 100%;
	}
}

.port__name {
	width: 90%;
	align-self: start;
	justify-self: center;
	font-family: var(--font-base);
	color: var(--font-color);
	font-weight: 700;
	font-size: 14px;

	span {
		display: block;
		font-size: 10px;
		color: var(--font-color2);
	}
}

.port__btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.btn {
	font-family: var(--font-base);
	font-size: 14px;
	font-weight: 500;
	color: var(--font-color);
	background-color: var(--color-bg);
	outline: none;
	border: none;
	box-shadow: var(--innerbox-shadow);
	border-radius: 5px;
	width: 7em;
	height: 3rem;
	align-self: end;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	box-shadow: var(--inner-shadow3);
}

.live-demo {
	background-color: var(--font-color);
	color: var(--color-bg);
}

.live-demo:hover {
	background-color: var(--color-bg);
	color: var(--font-color);
}

@media screen and (min-width: 1201px) {
	.port__container {
		grid-template-rows: 55% 30% 15%;
	}
}

@media screen and (max-width: 1200px) and (min-width: 851px) {
}

@media screen and (max-width: 500px) {
	.port__container {
		width: 90%;
		height: 35em;
	}

	.img-box {
		width: 100%;
	}

	.port__img {
		width: 100%;
	}
}
