.toggle__menu {
	position: fixed;
	left: 30px;
	top: 30px;
	color: var(--font-color);
	font-size: 16px;
	font-family: var(--font-base);
	// opacity: 0;
	box-shadow: 0px 0px 0px 2px var(--font-color);
	padding: 5px;
	border-radius: 10px;
	z-index: 22222;
	cursor: pointer;
	background-color: var(--color-bg);
}

.toggle__menu.open {
	opacity: 0;
	// display: block;
	animation: fadeIn;
	animation-duration: 0s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-fill-mode: none;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-fill-mode: forwards;
	z-index: 222222;
}

.toggle__menu.close {
	display: none;
}
