.btc {
	font-family: var(--font-base);
	font-size: 14px;
	font-weight: 500;
	color: var(--font-color);
	background-color: var(--color-bg);
	outline: none;
	border: none;
	box-shadow: var(--innerbox-shadow);
	border-radius: 10px;
	width: 80%;
	height: 3.5rem;
	align-self: end;
}

.about {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
}

.app__about {
	flex-direction: column;

	.about__board {
		width: 75%;
		height: 70vh;
		background-color: var(--color-bg);
		box-shadow: var(--outer-shadow2);
		display: flex;
		padding: 15px 15px;
		align-items: center;
		position: relative;
		border-radius: 10px;
		justify-content: space-between;
		margin: 3em;

		.about__innerboard-left {
			background-color: var(--color-bg);
			justify-self: left;
			width: 25%;
			height: 95%;
			box-shadow: var(--inner-shadow3);
			border-radius: 10px;
			list-style: none;
			color: var(--font-color);
			font-family: var(--font-base);
			font-size: 14px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: center;
			justify-content: center;
			padding: 1em;
			margin: 1rem;
			font-weight: 700;

			.about__list {
				width: 90%;
				height: 3.5rem;
				background-color: var(--color-bg);
				box-shadow: var(--innerbox-shadow);
				font-size: 16px;
				border-radius: 10px;
			}
		}

		.about__innerboard-right.about-me {
			background-color: var(--color-bg);
			width: 70%;
			height: 105%;
			display: grid;
			grid-template-columns: 40% 1fr 40%;
			grid-template-rows: 75% 20%;
			padding: 0;
			display: none;

			.about__pic-board {
				padding: 24px;
				.about__pic {
					width: 90%;
					height: 100%;
				}
			}

			.about-me__content {
				color: var(--font-color);
				width: 100%;
				grid-column: 2/-1;
				padding: 16px;
				box-shadow: var(--innerbox-shadow);
				align-self: stretch;
				justify-self: center;
				border-radius: 10px;
				margin: 25px;

				p {
					font-family: var(--font-content);
					font-style: normal;
					font-weight: 400;
					// font-size: var(	--font-size-base);
					font-size: 0.7rem;
					font-size: clamp(0.7rem, 0.6799999999999999rem + 0.10000000000000009vw, 0.8rem);
					line-height: 15px;
					/* or 150% */
					text-align: justify;
					text-indent: 2px;
				}
			}

			.download {
				grid-column: 1;
			}

			.contact {
				grid-column: 3;
				justify-self: end;
			}
		}

		.about__innerboard-right.education {
			width: 75%;
			height: 100%;
			display: none;
			table {
				font-family: var(--font-base);
				font-size: 15px;
				color: var(--font-color);
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 10px;

				.heading__row {
					word-break: break-all;
					height: 65px;
					display: grid;
					grid-template-columns: 15% 20% 50% 15%;
					align-items: center;
					justify-content: space-between;
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					border-radius: 10px;
					padding: 0 20px;
					text-align: center;
				}

				.table__body {
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					margin: 36px 0;
					height: 240px;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;

					tr {
						width: 95%;
						height: 50px;
						display: grid;
						grid-template-columns: 15% 20% 50% 15%;
						align-items: center;
						justify-content: center;
						text-align: center;
						box-shadow: var(--inner-shadow3);
						border-radius: 10px;
						overflow-wrap: break-word;
						// word-break: break-all;
						padding: 0.4em;
					}
				}
			}
		}

		.about__innerboard-right.certificate {
			width: 75%;
			height: 100%;
			display: none;
			table {
				font-family: var(--font-base);
				font-size: 15px;
				color: var(--font-color);
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 10px;

				.heading__row {
					word-break: break-all;
					height: 65px;
					display: grid;
					grid-template-columns: 35% 50% 15%;
					align-items: center;
					justify-content: space-between;
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					border-radius: 10px;
					padding: 0 20px;
					text-align: center;
				}

				.table__body {
					background-color: var(--color-bg);
					box-shadow: var(--innerbox-shadow);
					margin: 36px 0;
					height: 240px;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					height: calc(90% - 63px);

					tr {
						width: 95%;
						height: 50px;
						display: grid;
						grid-template-columns: 35% 50% 15%;
						align-items: center;
						justify-content: center;
						text-align: center;
						box-shadow: var(--inner-shadow3);
						border-radius: 10px;
						overflow-wrap: break-word;
						// word-break: break-all;
						padding: 0.4em;
					}
				}
			}
		}

		.about__innerboard-right.skills {
			width: 75%;
			height: 100%;
			// display: grid;
			// grid-template-columns: 1fr 1fr;
			// grid-template-rows: 1fr 1fr 1fr 1fr;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			padding: 20px;
			font-size: 12px;
			gap: 20px;
		}
	}
}
