.nav__close {
	transform: translateX(-100%);
	transition: all 1s ease-out;
}

.nav__show {
	transition: all 1s ease-out;
}
// .menu__tag {
// .active {
// 		&#{$c} {
// 			background-color: red;
// 		}
// 	}
// }
.active {
	.menu__tag & {
		color: var(--font-color2);
	}
}

.toggle__box {
	position: absolute;
	top: 20px;
	right: 20px;
	color: var(--font-color);
	font-family: var(--font-base);
	font-size: 16px;
	// transform: translate(350%, 10%);
	z-index: 2222;
	background-color: var(--color-bg);
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 2px var(--font-color);
	&.close {
		transform: translate(200%, 10%);
		display: none;
		transition: all 2s ease-out;
	}

	&.open {
		opacity: 0;
		display: block;
		animation: fadeIn;
		animation-duration: 1s;
		animation-delay: 1.5s;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		transform: translate(400%, 10%);
		animation-fill-mode: forwards;
	}
}

.Navbar {
	position: fixed;
	z-index: 2222;
	display: flex;

	.hero__menu--outerboard {
		width: 350px;
		height: 100vh;
		position: relative;
		left: -1px;
		top: -1px;
		background: var(--color-bg);
		box-shadow: var(--outer-shadow3);

		.hero__menu--innerboard {
			width: 90%;
			height: 95%;
			background: var(--color-bg);
			transform: translate(6%, 3%);
			box-shadow: var(--outer-shadow);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.toggle-box-cancle {
				.first {
					transform-origin: top right;
					transform: rotate(-40deg) translate(-10%);
					position: relative;
					left: -5%;
				}
				.sec {
					display: none;
				}
				.thr {
					transform-origin: bottom right;
					transform: rotate(40deg) translateX(0%);
					position: relative;
					left: -15%;
				}
			}

			.menu__circle {
				width: 20em;
				height: 10em;
				background: var(--color-bg);
				box-shadow: var(--outer-shadow2);
				border-radius: 50%;
				// transform: translate(32%, 13%);

				.menu__icon {
					width: 40%;
					transform: translate(4%, 5%);
				}
			}

			.menu__group {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 70%;
				gap: 20px;
				color: var(--font-color);
				margin-top: 10px;
				font-family: var(--font-base);
				list-style: none;

				.menu__tag {
					width: 90%;
					height: 50px;
					box-shadow: 5px 5px 4px 0px #d0d3d6, -3px -3px 5px 0px #ffffff;
					border-radius: 10px;
					margin: 1rem 0;

					&:hover {
						box-shadow: inset 5px 5px 4px 0px #d0d3d6, inset -3px -3px 5px 0px #ffffff;
					}

					&:active {
						box-shadow: inset 5px 5px 4px 0px #d0d3d6, inset -3px -3px 5px 0px #ffffff;
					}

					a {
						text-decoration: none;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1201px) {
	.Navbar {
		.hero__menu--outerboard {
			.hero__menu--innerboard {
				.toggle-box {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.Navbar {
		.hero__menu--outerboard {
			.hero__menu--innerboard {
				.toggle-box {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.Navbar {
		.hero__menu--outerboard {
			.hero__menu--innerboard {
				.toggle-box {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.Navbar {
		// .toggle__box {
		// 	transform: translateX(450%);
		// 	transition: all 1s 0.5s ease-out;
		// 	position: fixed;
		// 	left: 30em;

		// 	&.close {
		// 		display: none;
		// 	}
		// }

		.hero__menu--outerboard {
			width: 100vw;
			.hero__menu--innerboard {
				position: relative;
				.toggle__box {
					// transform: translateX(450%);
					// transition: all 1s 0.5s ease-out;
					// position: fixed;
					// left: 3em;
				}
				.menu__circle {
					position: relative;
					// left: 50%;
					width: 80%;
					height: 14em;
					// transform: translate(-50%, 20%);
					margin-top: 6em;
					.menu__icon {
					}
				}
				.menu__group {
					font-size: 20px;
				}
			}
		}
	}
}
