.menu__block {
	width: 0px;
	height: 100%;
	transition: width 4s ease-out;
	animation: slideInLeft;
	animation-duration: 1s;
	animation-delay: 1s;
	transition: width 1s ease-out;
}

.menu__block-open {
	width: 25%;
	// transition: width 5s ease-out;
}

@media screen and (max-width: 1200px) {
	.menu__block {
		display: none;
	}
}
