.about__skill {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 25px;
	align-items: center;
	box-shadow: var(--innerbox-shadow);
	border-radius: 10px;
	margin: 5px auto;

	.skill__details {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.skill__name {
			font-family: var(--font-base);
			color: var(--font-color);
		}

		.rate {
			color: var(--font-color2);
			font-family: var(--font-base);
			font-size: 14px;
		}
	}

	.out__reg {
		height: 7px;
		width: 100%;
		border: 1px solid var(--font-color);
		border-radius: 10px;

		.in__reg {
			// width: 66%;
			background-color: var(--font-color);
			height: 100%;
		}
	}
}
